<div class="flex justify-between items-center mb-6">
  <h1 class="text-4xl font-bold text-gray-800">Filmes</h1>
  <%= link_to 'Adicionar Novo Filme', new_movie_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg' %>
</div>

<%= form_tag movies_path, method: :get, id: 'ratings_form', class: 'mb-4 p-4 bg-gray-100 rounded-lg' do %>
  <h3 class="font-semibold mb-2">Filtrar por Classificação:</h3>
  <div class="flex flex-wrap gap-x-4 gap-y-2">
    <% @all_ratings.each do |rating| %>
      <label class="inline-flex items-center">
        <%= check_box_tag "ratings[#{rating}]", 1, @ratings_to_show.include?(rating), id: "ratings_#{rating}", class: 'form-checkbox' %>
        <span class="ml-2"><%= rating %></span>
      </label>
    <% end %>
  </div>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg' %>
<% end %>


<div class="overflow-x-auto bg-white rounded-lg shadow">
  <table class="min-w-full leading-normal">
    <thead>
      <tr class="border-b-2 border-gray-200 bg-gray-50 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
        <th class="px-5 py-3 <%= highlight_class('title') %>">
          <%= link_to 'Título', movies_path(sort: 'title', ratings: @permitted_ratings_hash), id: 'title_header', class: 'hover:text-blue-500' %>
        </th>
        <th class="px-5 py-3">Classificação</th>
        <th class="px-5 py-3 <%= highlight_class('release_date') %>">
           <%= link_to 'Data de Lançamento', movies_path(sort: 'release_date', ratings: @permitted_ratings_hash), id: 'release_date_header', class: 'hover:text-blue-500' %>
        </th>
        <th class="px-5 py-3">Mais Informações</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      <% @movies.each do |movie| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="px-5 py-4"><%= movie.title %></td>
          <td class="px-5 py-4"><%= movie.rating %></td>
          <td class="px-5 py-4">
            <% if movie.release_date.present? %>
              <%= movie.release_date.strftime('%d/%m/%Y') %>
            <% end %>
          </td>
          <td class="px-5 py-4">
            <%= link_to 'Detalhes', movie_path(movie), class: 'text-blue-500 hover:underline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>